@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Merienda:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=M+PLUS+Code+Latin:wght@600&family=Rubik:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=M+PLUS+Code+Latin:wght@600&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');

.pagesContainer{
    width: 100vw; height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.header {
    width: 100%; height: 15%;
    text-align: center;
    color: #02645f;
}

.navbar {
    width: 100%; height: 5%;
    border: #285754 5px;
    background-color: #459C98;
    display: flex; 
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-size:small;
    font-style: italic;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #459C98;
    border: none;
    margin-left: 5px; 
}

button:hover {
    background-color: #95C5A6;
    border-radius: 50%;
    cursor: pointer;
    cursor: hand;
}

#disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.profileContent {
    width: 100%; height: 50%;
    background-color: #95C5A6;
    align-items: center;
    display: flex;  
}

.profileIntro {
    width: 60%; height: 100%;
    margin-left: 100px;
    margin-top: 80px;
    font-size: large;
}

a:link, a:visited { 
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size:small;
    background-color: #459C98;
}
  
a:hover, a:active {
    cursor: hand;
    cursor: pointer;
    border-radius: 0%;
}

.profileImage {
    width: 40%; height: 100%;
}

#profile-image {   
    border-radius: 50px;
    opacity: 0.8;  
}

.profileContent .profileIntro span {
    background-color: rgb(115, 141, 130);
    color: black;
    border: 2px solid #2b382c;
    border-radius: 12px;
    padding: 3px 8px;
    text-align: center;
}

.pagesContent {
    width: 100%; height: 25%;
    background-color: white; 
    color: #02645f;
    font-family: inherit;
    line-height: 2;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

.footer {
    width: 100%; height: 5%;
    background-color: #459C98;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#email {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {  
    font-family: 'Aref Ruqaa', serif;
}

h2 { 
    font-family: 'Rubik', sans-serif; 
    color: rgb(90, 87, 87);
}

h3 {
    color: #02645f;
}

h4 {
    margin-left: 30px;
}

p {
    color: #02645f;
    word-spacing: 8px;
    line-height: 2;
    text-align: justify;
    margin-left: 30px; margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {width: 95%; margin-left: auto;margin-right: auto;}

/* Slides ############################################################## */
/* Slideshow container */
.slideshow-container {
    width: 100%; height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
  
/* Slides */
.mySlides {
    width: 94%;
    display: none;
    background-color: white;
}

  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    padding: 5px;
    color: #888;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: 0px;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgb(115, 141, 130);
    color: rgb(255, 255, 255);
}
  
/* changing headings color*/
.pages {
    color: #02645f;
    font-weight: bold;
}

.about_text{
    text-align: center;
    padding: 30px;
    font-style: italic;
    letter-spacing: 3px;
}

.hire-me-btn {
    display: inline-block;
    color: rgb(65, 61, 61);
    padding: 3px 9px 3px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(253, 249, 44);
}

.contact{
    width: 100%; height: 70%;
    padding: 20px;
}

textarea{
    width: 50%; height: 180px;
}

/* mobile device view ############################################################## */
@media only screen and (max-width: 700px) {
    .pagesContainer {
        height: 100%;
        width: 100%; 
    }
    
    h1{
        margin: 0;
    }

    .header {
        height: 10%;
    }

    .navbar {
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 20%;
    }

    .profileContent {
        height: 45%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .profileIntro {
        margin-top: 0%;
        margin-left: 5px;
        font-size: small;
        justify-content: center;
        align-items: center;
        width: 100%; height: 48%; 
    }

    .profileImage {
        margin: 0;
        justify-content: center;
        align-items: center; 
        width: 80%; height: 49%; 
    }

    .pagesContent {
        height: 20%;
    }

    .about_text{
        padding: 0;
        margin-top: 5px;
    }

    .contact {
        height: 100%;
    }

    .footer {
        height: 5%;
    }
}