@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Merienda:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=M+PLUS+Code+Latin:wght@600&family=Rubik:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=M+PLUS+Code+Latin:wght@600&family=Rubik:wght@300&display=swap');
.part1{
    width: 100%; height: 13%;
    text-align: center;
    color: #02645f;
}

.part2{
    border: #285754 5px;
    background-color: #459C98;
    display: flex; 
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%; height: 5%;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-size:small;
    font-style: italic;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #459C98;
    border: none;
    margin-left: 5px; 
}

button:hover {
    background-color: #95C5A6;
    border-radius: 50%;
    cursor: pointer;
    cursor: hand;
}

#disabled {
    opacity: 0.4;
    cursor: not-allowed;
}


.part3{
    /* border: green solid 5px; */
    background-color: #95C5A6;
    width: 100%; height: 51%;
    align-items: center;
    display: flex;  
}

.part3-1{
    /* border: orange solid 3px; */
    width: 60%; height: 100%;
    margin-left: 100px;
    margin-top: 80px;
    font-size: large;
}

.part3 .part3-1 span{
    background-color: rgb(115, 141, 130);
    color: black;
    border: 2px solid #2b382c;
    border-radius: 12px;
    padding: 3px 8px;
    text-align: center;
}

.part3-2{
    width: 40%; height: 100%;
}

.part4{
    background-color: white; 
    width: 100%; height: 23%;
    color: #02645f;
    font-family: inherit;
    }

.part5{
    background-color: #459C98;
    width: 100%; height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#email{
    margin-left: 10px;
    margin-right: 10px;
}
.cols{
    border: #248f89 solid 2px;
    height: 100vh; 
}

h1{  
    font-family: 'Aref Ruqaa', serif;
}

h2{ 
    
    font-family: 'Rubik', sans-serif; 
}

h3{
    color: #02645f;
}

h4{
    margin-left: 30px;
}
#profile-image{   
    border-radius: 50px;
    opacity: 0.5;  
}

p{
    word-spacing: 8px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 30px; margin-right: 30px;
}

hr {width: 95%; margin-left: auto;margin-right: auto;}

/* Slides ############################################################## */
/* Slideshow container */
.slideshow-container {
    position: relative;
}
  
/* Slides */
.mySlides {
    display: none;
    text-align: center;
    
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
}
  
/* changing headings color*/
.pages {color: cornflowerblue;}

.about_text{
    text-align: center;
    padding: 30px;
    font-style: italic;
    letter-spacing: 3px;
   
}
.myHobies{
    text-align: center;
}

.btn_2 {
    display: inline-block;
    color: rgb(65, 61, 61);
    padding: 3px 9px 3px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(253, 249, 44);
}

.contact{
    width: 100%; height: 70%;
    padding: 20px;
}

textarea{
    width: 50%;
    height: 180px;
}

/* mobile device view ############################################################## */
@media only screen and (max-width: 700px) {
    .cols{
       
        height: 100%; 
    }
    
    h1{
        margin: 0;
    }
    .part2{
        /* border: #285754 5px;
        background-color: #459C98; */
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 20%;
    }
    .part3 {
        height: 43%;
        margin: 0;
      display: flex;
      flex-direction: column;
    }
    .part3-1{
        margin-top: 0%;
        margin-left: 5px;
        font-size: small;
        justify-content: center;
        align-items: center;
        width: 100%; height: 48%; 
    }

    .part3-2{
        margin: 0;
        justify-content: center;
        align-items: center; 
        width: 80%; height: 49%; 
    }

    .part4{
        height: 20%;
    }
    .about_text{
        padding: 0;
        margin-top: 5px;
    }

    .part5{
        height: 4%;
    }
}